body {
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* Header Start */
header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 84px;
    background-color: rgba(0, 0, 0, 0.75);
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
}
@media only screen and (max-width: 1000px) {
    .hamburger{
        display: flex;
        flex-direction: column;
        padding: 28px;
        padding-top: 28px;
        cursor: pointer;
    }
    .hamburger div{
        width: 35px;
        height: 4px;
        background-color: white;
        margin: 4px;
        border-radius: 2px;
    }
    .hamburger:hover{
        opacity: 0.4;
    }
}
.nav {
    display: flex;
    justify-content: flex-start;
    padding: 16px;
}
@media only screen and (max-width: 1000px) {
    .nav{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0px;
        height: 100vh;
        width: 100%;
        top: 84px;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 9999;
    }
    .navlink{
        opacity: 0%;
    }
}
.nav-active {
    display: flex;
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0%;
        transform: translateX(-50px);
    }
    to{
        opacity:100%;
        transform: translateX(0px);
    }
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,12px);
    transition: 0.3s ease;
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-12px);
    transition: 0.3s ease;
}
.navlink {
    color: white;
    text-decoration: none;
    padding: 16px;
    font-weight: 500;
    font-size: 20px;
}
.navlink:hover{
    color: white;
    text-decoration: none;
    padding: 16px;
    font-weight: 500;
    font-size: 20px;
    opacity: 0.4;
}
.navlogo {
    display: flex;
    justify-content: center;
    padding-right: 348px;
}
@media only screen and (max-width: 1000px) {
    .navlogo{
        display: flex;
        justify-content: center;
        padding-right: 8px;
        padding-left: 0px;
    }
}
.navsocials {
    display: flex;
    justify-content: flex-end;
    padding-right: 28px;
}
.navsocials:hover{
    opacity: 0.4;
}
/* Header End */

/*Body Start*/
.jumbotron {
    display: flex;
    margin: 0;
    background: url('../images/wish1.png') no-repeat center;
    background-size: cover;
    height: 25vh;
    padding: 0;
}
.jumbotron-fluid{
    display: flex;
    height: 85vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.display-4{
    display: flex;
    color: white;
    text-align: center;
}
.caseStudyNav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    margin: 0;
}

.nav-link{
    color: #0057B8;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}

.navDot{
    display: flex;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: rgba(0, 87, 184, 0.25);
}
.spySection{
    scroll-behavior: smooth;
}

#overview{
    display: flex;
    background-color: #0057B8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}
.overviewMargin{
    margin-top: 6rem;
}

#research{
    display: flex;
    background-color: #DCF0FB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}
#definition{
    display: flex;
    background-color: #0057B8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}

#prototyping{
    display: flex;
    background-color: #DCF0FB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}

#testing{
    display: flex;
    background-color: #0057B8;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}

#nextSteps{
    display: flex;
    background-color: #DCF0FB;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 24px;
}

.sectionTitle{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 56px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 56px;
    padding-bottom: 32px;
}

.sectionTitle2{
    display: flex;
    justify-content: center;
    color: #0057B8;
    font-size: 56px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 56px;
    padding-bottom: 32px;
}

.sectionTitle3{
    display: flex;
    justify-content: center;
    color: #0057B8;
    font-size: 48px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 4px;
    padding-top: 56px;
    padding-bottom: 16px;
    text-align: center;
}

.sectionTitle4{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 36px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 56px;
    padding-bottom: 16px;
    text-align: center;
}

.sectionTitle5{
    display: flex;
    color: #0057B8;
    font-size: 36px;
    line-height: 0;
    font-weight: bold;
    letter-spacing: 1px;
    padding-top: 36px;
    padding-bottom: 36px;
    text-align: center;
}

.bodyText{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    letter-spacing: auto;
    line-height: auto;
    font-weight: 100;
    padding: 16px;
    width: 50%;
}

.bodyText2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0057B8;
    font-size: 20px;
    letter-spacing: auto;
    line-height: auto;
    font-weight: 100;
    padding: 16px;
    width: 50%;
}

.bodyText3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    letter-spacing: auto;
    line-height: auto;
    font-weight: 100;
    padding: 16px;
    width: 100%;
}

.active{
    font-weight: bold;
    color: #01164B;
    text-decoration: underline;
    text-underline-offset: 2px;
}

.fixed{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;
    background-color: white;
}

.imageStyle1{
    width: auto;
    height: 100%;
    padding: 16px;
}

.imageStyle2{
    display: flex;
    width: 100%;
    height: auto;
    padding: 16px;
}

.imageStyle3{
    display: flex;
    justify-content: center;
    width: 50%;
    height: auto;
    padding: 16px;
}

.horizontalDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    Height: 350px;
    align-items: center;
    justify-content: center;
}

.horizontalDiv2{
    display: flex;
    width: 75%;
    Height: auto;
    align-items: center;
    justify-content: center;
}

#largeDiv{
    height: 540px;
}

#firstContainer{
    padding-top: 48px;
    padding-bottom: 48px;
}

.spacer{
    display: flex;
    height: 36px;
}

#figma{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 48px;
}
/*Body End*/


/* Footer Start */
footer{
    display: flex;
    background-color: #1D1D1D;
    height: 220px;
    width: 100%;
}
.footerDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footerSocials{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
}
.footertext{
    color: white;
    line-height: 16px;
}
.copyright{
    color: #686868;
    padding-top: 0px;
}
/* Footer End */

/*Homepage Body Start
.heroimg {
    position: relative;
    height: 800px;
    overflow: hidden;
    background: url('../images/heroimg.png') no-repeat center;
    background-size: cover;
}

.container {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    text-align: left;
    color: white;
    font-weight: 700;
}

.name1{
    font-size: 96px;
    letter-spacing: auto;
    line-height: 72px;
    font-weight: bold;
}

.name2{
    font-size: 96px;
    letter-spacing: auto;
    line-height: 72px;
    font-weight: bold;
}

.hi{
    display: inline-block;
    font-size: 36px;
    letter-spacing: auto;
    line-height: 0;
    font-weight: 100;
}

.title{
    display: inline-block;
    font-size: 40px;
    letter-spacing: auto;
    line-height: 36px;
    font-weight: 100;
    padding-bottom: 16px;
}

.btn{
    color: black;
    padding: 10px 24px;
    font-size: 20px;
    text-decoration: none;
    background: white;
    border-radius: 8px;
    font-weight: bold;
}

.btn:hover{
    opacity: 0.4;
}

.myWorkContainer{
    display: flex;
    width: 100%;
    background-color: #0B0B0B;
    justify-content: center;
}

.myWorkDiv{
    display: flex;
    padding: 16px;
}

.myWork{
    display: flex;
    color: white;
    font-size: 36px;
    letter-spacing: auto;
    line-height: 0;
    font-weight: 100;
    padding: 16px;
}

.workGrid{
    display: grid;
    grid-template-columns: 430px 430px;
    background-color: #0B0B0B;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    justify-content: center;
    padding-bottom: 72px;
}

@media only screen and (max-width: 920px) {
    .workGrid{
    grid-template-columns: 430px;
    }
  }

@media only screen and (max-width: 470px) {
    .workGrid{
    grid-template-columns: 85%;
    }
}

.gridItem:hover{
    opacity: 0.4;
}

@media only screen and (max-width: 470px) {
    .gridItem{
    scale: 85%;
    }
}

@media only screen and (max-width: 470px) {
.workImg{
    width: 100%;
    height: auto;
    }
}
Homepage Body End */
